<p>Dashboard</p>
<div *ngIf="orders">
  <li class="list-group-item" *ngFor="let order of orders">
    <pre>Order number:  {{order.orderNumber}}</pre>
    <pre>Order date:    {{order.orderDate | date}}</pre>
    <pre>Delivery Date: {{order.deliveryDate | date}}</pre>
    <pre>BuyerID:       {{order.buyerID}}</pre>
    <pre>Card:          {{order.card}}</pre>
    <pre>Address:       {{order.fullAddress}}</pre>
    <div *ngIf="order.details"><pre *ngIf="order.details.cost">Cost:          {{order.details.cost}}</pre></div>
  </li>
</div>